@model CoreDemo.Controllers.EmployeeTestController.Class1

@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post">
    <label>Employee Name</label>
    <input class="form-control" type="text" asp-for="@Model.Name"/>
    <br />
    <button type="submit" class="btn btn-outline-primary">Ekle</button>
</form>

@section scripts{

    <script>
        $(document).ready(function () {

            var successMessage = '@Html.Raw(TempData["SuccessMessage"])';
            var errorMessage = '@Html.Raw(TempData["ErrorMessage"])';

            if (errorMessage) {

                Swal.fire({
                    title: 'İşlem Başarısız oldu!',
                    text: errorMessage,
                    icon: 'error',
                    confirmButtonText: 'Tamam'
                })

            }
        });

    </script>

}
